:root {
  /* BUTTON STYLE */
  --btnSidePadding: 1em;
  --btnTopPadding: 0.5em;

  /* GLOBAL ATTRIBUTES */
  --margin: 5px;
  --padding: 15px;
  --btnBorderRadius: 10px;
  --borderRadius: 15px;
  --blur: blur(35px);
  --lightBlur:blur(16px);
  --transitionSpeed: 0.5s;

  /* GRID */
  --gridGap: 5px;

  /* BOX SHADOW */
  --boxShadow: 1px 1px 10px lightgrey;
  --heavyBoxShadow: 8px 8px 25px grey;

  /* SCALE */
  --smallScale: scale3d(0.5, 0.5, 0.5);
  --scale: scale3d(1.05, 1.05, 1.05);
}