* {
  font-family: sans-serif;
}

:root {
  --responsivePadding: 1em;
  --buttonTopBottomPadding: 0.5em;
  --standardMargin: 5px;
  --standardPadding: 5px;
  --standardBorderRadius: 5px;
  --transitionSpeed: 0.5s;
  --standardGridGap: 5px;
  --standardBoxShadow: 8px 8px 25px grey;
  --darkBoxShadow: 10px 10px 30px rgb(44, 44, 44);
  --standardScale: scale3d(1.05, 1.05, 1.05);
}
/* ::-webkit-scrollbar-thumb {
  border-radius: var(--standardBorderRadius);
  background-color: rgb(158, 158, 158);
  opacity: 40%;
} */

/* 📃 Styled Number List */
#ol-round,
#ol-capsule,
#ol-rectangle,
#ol-square {
  max-width: 350px;
  counter-reset: olCounter;
  list-style: none;
  padding-left: 0;
}

#ol-round li,
#ol-capsule li,
#ol-rectangle li,
#ol-square li {
  counter-increment: olCounter;
  position: relative;
  padding-left: 50px;
  margin-bottom: 5px;
}

#ol-round li::before,
#ol-capsule li::before,
#ol-rectangle li::before,
#ol-square li::before {
  content: counter(olCounter);
  background: lightgray;
  color: black;
  text-align: center;
  position: absolute;
}
#ol-round li::before {
  padding: 1.5px 6px 1.5px 6px;
  border-radius: 100px;
  left: 20px;
  top: -1.5px;
}
#ol-capsule li::before {
  padding: 0px 15px 0px 15px;
  border-radius: 50px;
  left: 0px;
}
#ol-rectangle li::before {
  padding: 0px 15px 0px 15px;
  border-radius: 5px;
  left: 0px;
}
#ol-square li::before {
  padding: 1.5px 6px 1.5px 6px;
  border-radius: 5px;
  left: 20px;
  top: -1.5px;
}

/* 🔘 Buttons・Link */
.btn-standard,
.btn-rounded {
  padding: var(--responsivePadding);
  padding-top: var(--buttonTopBottomPadding);
  padding-bottom: var(--buttonTopBottomPadding);
  border: none;
  transition: var(--transitionSpeed);
  margin: var(--standardMargin);
}
.btn-standard {
  border-radius: var(--standardBorderRadius);
}
.btn-rounded {
  border-radius: 100px;
}

.highlightlink {
  text-decoration: none;
  color: black;
  opacity: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.highlightlink:hover {
  border-radius: 3px;
  padding-right: 0.1em;
  margin-left: -0.1em;
  margin-right: -0.1em;
  padding-left: 0.1em;
  background-color: grey;
  opacity: 100%;
  color: white;
  content: "Link →";
}

/* 🔛 Flex Box */
.flex-standard,
.flex-right,
.flex-left,
.flex-center,
.flex-cards {
  display: flex;
  flex-direction: row;
}
.flex-right {
  justify-content: right;
}
.flex-left {
  justify-content: left;
}
.flex-center {
  justify-content: center;
}

/* Media Query For:
🔳 Grid
👀 Card Glance Effect
*/
.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-1fr-1fr,
.grid-1fr-1fr-1fr,
.grid-1fr-1fr-1fr-1fr,
.grid-1fr-1fr-1fr-1fr-1fr,
.grid-1fr-1fr-1fr-1fr-1fr-1fr {
  display: grid;
  gap: var(--standardGridGap);
}
/* 📱 For Mobile */
@media only screen and (max-width: 400px) {
  .grid-1fr-1fr,
  .grid-1fr-1fr-1fr,
  .grid-1fr-1fr-1fr-1fr,
  .grid-1fr-1fr-1fr-1fr-1fr,
  .grid-1fr-1fr-1fr-1fr-1fr-1fr {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .grid-1fr-1fr,
  .grid-1fr-1fr-1fr,
  .grid-1fr-1fr-1fr-1fr,
  .grid-1fr-1fr-1fr-1fr-1fr,
  .grid-1fr-1fr-1fr-1fr-1fr-1fr {
    grid-template-columns: 1fr 1fr;
  }
}

/* 💻 For Desktop */
@media only screen and (min-width: 601px) {
  .grid-1fr-1fr {
    grid-template-columns: 1fr 1fr;
  }
  .grid-1fr-1fr-1fr {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-1fr-1fr-1fr-1fr {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-1fr-1fr-1fr-1fr-1fr {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-1fr-1fr-1fr-1fr-1fr-1fr {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

/* 🎴 Cards */
.contentCard {
  padding: var(--responsivePadding);
  border-radius: var(--standardBorderRadius);
  cursor: pointer;
}
.contentCardsUnder section,
.contentCardsUnder div {
  padding: var(--responsivePadding);
  border-radius: var(--standardBorderRadius);
  cursor: pointer;
}
.grid-auto div,
.grid-1fr-1fr section div,
.grid-1fr-1fr-1fr section div,
.grid-1fr-1fr-1fr-1fr section div,
.grid-1fr-1fr-1fr-1fr-1fr section div,
.grid-1fr-1fr-1fr-1fr-1fr-1fr section div {
  padding: var(--responsivePadding);
  border-radius: var(--standardBorderRadius);
  cursor: pointer;
}
.grid-auto section img,
.grid-1fr-1fr section img,
.grid-1fr-1fr-1fr section img,
.grid-1fr-1fr-1fr-1fr section img,
.grid-1fr-1fr-1fr-1fr-1fr section img,
.grid-1fr-1fr-1fr-1fr-1fr-1fr section img {
  object-fit: cover;
  border-radius: var(--standardBorderRadius);
  width: 100%;
}

/* ⚡ Effects */
.hover-rotation,
.hover-scale,
.hover-opacity,
.hover-blur,
.hover-arrow,
.load-open,
.load-wave,
.load-drop {
  transition: var(--transitionSpeed);
}

/* HOVER */
.hover-rotation:hover {
  transform: rotateX(40deg) rotateY(-0.5deg) rotateZ(-1.5deg);
  box-shadow: 10px 30px 20px grey;
  cursor: pointer;
}
.hover-scale:hover {
  transform: var(--standardScale);
  box-shadow: var(--standardBoxShadow);
  cursor: pointer;
}
.hover-opacity:hover {
  opacity: 60%;
  cursor: pointer;
}
.hover-blur:hover {
  filter: blur(3px);
  cursor: pointer;
}
.hover-arrow:hover::after {
  content: " →";
}

/* LOAD */
.load-wave {
  animation: waveAni var(--transitionSpeed) ease-in;
}
@keyframes waveAni {
  0% {
    clip-path: circle(0% at 0% 0%);
    opacity: 50%;
  }
  100% {
    clip-path: circle(100%);
    opacity: 100%;
  }
}

.load-open {
  animation: openAni var(--transitionSpeed) ease-in;
}
@keyframes openAni {
  0% {
    clip-path: inset(0% 0% 100% 0%);
    opacity: 50%;
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
    opacity: 100%;
  }
}

@keyframes dropAni {
  0% {
    transform: scale3d(10, 10, 10);
    opacity: 0;
    box-shadow: 10px 5px 10px black;
  }
  50% {
    opacity: 0;
    filter: blur(50px);
    box-shadow: 3px 10px 10px black;
  }
  100% {
    /* opacity: 100%; */
    transform: scale3d(1, 1, 1);
  }
}
.load-drop section:nth-child(1) {
  animation: dropAni 0.5s;
}
.load-drop section:nth-child(2) {
  animation: dropAni 0.6s;
}
.load-drop section:nth-child(3) {
  animation: dropAni 0.7s;
}
.load-drop section:nth-child(4) {
  animation: dropAni 0.8s;
}
.load-drop section:nth-child(5) {
  animation: dropAni 0.9s;
}
.load-drop section:nth-child(6) {
  animation: dropAni 1s;
}
.load-drop section:nth-child(7) {
  animation: dropAni 1.1s;
}
.load-drop section:nth-child(8) {
  animation: dropAni 1.2s;
}
.load-drop section:nth-child(9) {
  animation: dropAni 1.3s;
}
.load-drop section:nth-child(10) {
  animation: dropAni 1.4s;
}
