:root {
  /* BUTTON STYLE */
  --btnPadding:0.5em 1em 0.5em 1em;
  --btnSidePadding: 1em;
  --btnTopPadding: 0.5em;
  --btnBorderRadius: 10px;
  --btnGrey: lightgrey;

  /* GLOBAL ATTRIBUTES */
  --font: Helvetica, Arial, sans-serif;
  --headerFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --margin: 5px;
  --padding: 15px;

  /* ANIMATION */
  --transitionSpeed: 0.5s;

  /* BLUR */
  --heavyBlur: blur(50px);
  --blur: blur(35px);
  --lightBlur:blur(16px);
  
  /* GRID */
  --gridGap: 5px;

  /* BORDER */
  --border: 1px solid var(--btnGrey);
  --innerBorderRadius: 5px;
  --borderRadius: 15px;

  /* BOX SHADOW */
  --boxShadow: 1px 1px 10px lightgrey;
  --heavyBoxShadow: 8px 8px 25px grey;

  /* SCALE */
  --smallScale: scale3d(0.5, 0.5, 0.5);
  --scale: scale3d(1.05, 1.05, 1.05);
}

/* Additional Styles */
h1, h2, h3, h4, h5, h6{
  font-family: var(--headerFont);
}