:root {
    /* BUTTON STYLE */
    --btnPadding:0.5em 1em 0.5em 1em;
    --btnSidePadding: 1em;
    --btnTopPadding: 0.5em;
    --backgroundColor:rgb(254, 240, 255);
    --grey0: rgb(254, 230, 255);
    --grey1:rgb(254, 220, 255);
    --grey2:rgb(254, 210, 255);
    --grey3:rgb(254, 200, 255);
  
    --textColor0:white;
    --textColor1:black;
    --accentColor0:rgb(171, 98, 162);
    --accentColor1:rgb(172, 93, 164);
  
  
    /* GLOBAL ATTRIBUTES */
    --font: Helvetica, Arial, sans-serif;
    --headerFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --margin: 5px;
    --padding: 15px;
  
    /* ANIMATION */
    --transitionSpeed: 0.5s;
  
    /* GRID */
    --gridGap: 5px;
  
    /* BORDER */
    --border: 1px solid var(--grey1);
    --borderRadius: 5px;
  
    /* BOX SHADOW */
    --boxShadow: 0px 1px 5px var(--grey2);
    --heavyBoxShadow: 0px 8px 15px var(--grey3);
  }
  